# videos
*.avi

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

*conan-imports/
*conanbuildinfo.txt
*conan_imports_manifest.txt
*conaninfo.txt
*conan.lock
*graph_info.json
*CMakeLists.txt.user
*build/
*cmake/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
